In [17]:
!pip install --upgrade --user git+https://github.com/GeneralMills/pytrends

Collecting git+https://github.com/GeneralMills/pytrends
  Cloning https://github.com/GeneralMills/pytrends to /private/var/folders/xv/n187nr6j0x5cd6c7ngbjrp9w0000gn/T/pip-req-build-ole3l72s
  Running command git clone -q https://github.com/GeneralMills/pytrends /private/var/folders/xv/n187nr6j0x5cd6c7ngbjrp9w0000gn/T/pip-req-build-ole3l72s
Requirement already satisfied, skipping upgrade: requests>=2.0 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pytrends==4.7.4) (2.23.0)
Requirement already satisfied, skipping upgrade: pandas>=0.25 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pytrends==4.7.4) (1.0.3)
Requirement already satisfied, skipping upgrade: lxml in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pytrends==4.7.4) (4.5.0)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.0->pytrends==4.7.4) (2.9)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.0->pytrends==4.7.4) (1.25.8)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.0->pytrends==4.7.4) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.0->pytrends==4.7.4) (2020.4.5.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25->pytrends==4.7.4) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25->pytrends==4.7.4) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25->pytrends==4.7.4) (1.18.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/naziahaque/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.25->pytrends==4.7.4) (1.14.0)
Building wheels for collected packages: pytrends
  Building wheel for pytrends (setup.py) ... done
  Created wheel for pytrends: filename=pytrends-4.7.4-py3-none-any.whl size=15250 sha256=b6e2dd476d8e119ec17c15ec107905fd470f432853cf302ea3b0a4ef7c3acea3
  Stored in directory: /private/var/folders/xv/n187nr6j0x5cd6c7ngbjrp9w0000gn/T/pip-ephem-wheel-cache-a2k9zawb/wheels/c1/65/c5/60688c4521e16561ac09af949eb432957b257dfda14c4fe516
Successfully built pytrends
Installing collected packages: pytrends
Successfully installed pytrends-4.7.4

In [11]:
import pandas as pd                        
from pytrends.request import TrendReq


from pprint import pprint

import time
startTime = time.time()
pytrend = TrendReq(hl='en-US', tz=360)


# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from config import postgrespw

### Covert keywords from csv into the list of keyword

In [2]:
columns = ['keywords']
org_df = pd.read_csv('keyword_list.csv', names=columns)
keyword_df = org_df['keywords'].values.tolist()
keyword_df.remove("Keywords")
keyword_df

['how', 'what', 'where', 'will', 'who', 'when', 'which', 'why', 'can']

### Loop through the keyword list, time frame, and states

In [23]:
timeframe = '2020-7-01 2020-8-01' # testing purpose only, remove to run the loop

keywordresults_df = pd.DataFrame()


state_results = {}
for x in range(0,len(keyword_df)):
    
    keywords = [keyword_df[x]]
#     keywords = 'what' # testing purpose only, remove to run the loop
    
    for y in range(0,len(timeframe_list)):
        timeframe = timeframe_list[y]
        print(keywords)
        for state in ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL",
                "IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT",
                "NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI",
                "SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"]:
            time.sleep(2)
            #print(state)
            pytrend.build_payload(kw_list=keywords, cat=0, timeframe=timeframe, geo=f'US-{state}')
            state_results[state] = pytrend.related_queries()
            
            rising_df = pd.DataFrame(state_results[state][keywords[0]]['rising'])
            rising_df["state"] = state
            rising_df["status"] = "rising"
            rising_df["keyword"] = keywords[0]
            
            top_df = pd.DataFrame(state_results[state][keywords[0]]['top'])
            top_df["state"] = state
            top_df["status"] = "top"
            top_df["keyword"] = keywords[0]
            
            statekw_df = pd.concat([keywordresults_df, rising_df, top_df])
#             break 
#         break
#     break
    #     related_queries.values()
#         pprint(related_queries_dict['rising'])

['how']

ResponseError: The request failed: Google returned a response with code 429.

In [13]:
keywords = ['where']
timeframe = '2020-7-01 2020-8-01'

In [ ]:
statekw_df

In [43]:
statekw_df.to_csv("statekw5.csv")

NameError: name 'keywordresultstop5_df' is not defined

In [45]:
state = pd.read_csv('statekw.csv', index_col=0)
state.head()

                             query   value state  status keyword
0              how much is the ps5  5000.0    AL  rising     how
1      how do lobsters communicate  3500.0    AL  rising     how
2            how did bruce lee die  2000.0    AL  rising     how
3  how to season cast iron skillet  1950.0    AL  rising     how
4   how many people live in the us   950.0    AL  rising     how

### Create a top 5 keyword list per state based on the popularity value

In [46]:
state = state.sort_values(['state', 'keyword', 'value'], ascending=False)
state = state.groupby(['state', 'keyword']).first()

In [47]:
state = state.groupby(['state', 'keyword', 'query'])['value'].sum().reset_index()
state.head()

  state keyword                                    query    value
0    AK     how  how many cases of coronavirus in alaska    250.0
1    AK    what                           what is antifa  15050.0
2    AK    when                      when is fathers day    120.0
3    AK     why                           13 reasons why    250.0
4    AK    will                               will smith    100.0

In [57]:
topkey = state.groupby(['state', 'keyword']).nth([0,1]).reset_index()
topkey.head()

  state keyword                                    query    value
0    AK     how  how many cases of coronavirus in alaska    250.0
1    AK    what                           what is antifa  15050.0
2    AK    when                      when is fathers day    120.0
3    AK     why                           13 reasons why    250.0
4    AK    will                               will smith    100.0

In [58]:
topkey

    state keyword                                    query    value
0      AK     how  how many cases of coronavirus in alaska    250.0
1      AK    what                           what is antifa  15050.0
2      AK    when                      when is fathers day    120.0
3      AK     why                           13 reasons why    250.0
4      AK    will                               will smith    100.0
..    ...     ...                                      ...      ...
384    WY     how              how many ounces in a gallon    100.0
385    WY    what                       what is juneteenth    120.0
386    WY    when                      when is fathers day    200.0
387    WY   where                               where am i    100.0
388    WY     why                           13 reasons why    500.0

[389 rows x 4 columns]

In [59]:
topkey.to_csv('topkey.csv')

### Create SQL connection

In [1]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine(f"postgresql://postgres:{postgrespw}@localhost/statekeyword_db")
con = engine.connect()

NameError: name 'create_engine' is not defined

In [37]:
topkey.to_sql('keywords', con, if_exists='replace')

In [38]:
pd.read_sql('SELECT * FROM keywords LIMIT 5;', con)

   index state keyword                                    query    value
0      0    AK     how  how many cases of coronavirus in alaska    350.0
1      1    AK    what                           what is a simp   7410.0
2      2    AK    what                           what is antifa  15071.0
3      3    AK    when                      when is fathers day    220.0
4      4    AK     why                           13 reasons why    350.0

In [39]:
pd.read_sql('SELECT * FROM keywords LIMIT 5;', con).set_index('index')

      state keyword                                    query    value
index
0        AK     how  how many cases of coronavirus in alaska    350.0
1        AK    what                           what is a simp   7410.0
2        AK    what                           what is antifa  15071.0
3        AK    when                      when is fathers day    220.0
4        AK     why                           13 reasons why    350.0