In [14]:
# Import libraries and dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import time
import calendar
import random

In [4]:
last_day = [calendar.monthlen(2020, i+1) for i in range(12)]

month = [i+1 for i in range(8)]

zipped = list(zip(month, last_day))

In [5]:
# for _zip in zipped:
#     url = f'https://trends.google.com/trends/explore?date=2020-{_zip[0]}-01%202020-{_zip[0]}-{_zip[1]}&geo=US'
#     print(url)

In [17]:
# Mac users
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
# Create empty list to append into
queries_list = []

# Loop through each month
for _zip in zipped:
    
    # Set URL to scrape
    url = f'https://trends.google.com/trends/explore?date=2020-{_zip[0]}-01%202020-{_zip[0]}-{_zip[1]}&geo=US'
    print(url)
    browser.visit(url)

    # Add time delay
    time.sleep(3)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Retrieve section 
    section = soup.find_all('widget', type='fe_related_queries')
    
    try:
        label_text = [div.text for div in section[1].find_all(class_='label-text')]
        
    # Loop through each row to pull elements
#     for section in sections:
        queries_dict = {}
        queries_dict['month']  = _zip[0]
        queries_dict['label text'] = label_text
        queries_list.append(queries_dict)
    except:
        next
        
# Close the browser after scraping
browser.quit()

https://trends.google.com/trends/explore?date=2020-1-01%202020-1-31&geo=US
https://trends.google.com/trends/explore?date=2020-2-01%202020-2-29&geo=US
https://trends.google.com/trends/explore?date=2020-3-01%202020-3-31&geo=US
https://trends.google.com/trends/explore?date=2020-4-01%202020-4-30&geo=US
https://trends.google.com/trends/explore?date=2020-5-01%202020-5-31&geo=US
https://trends.google.com/trends/explore?date=2020-6-01%202020-6-30&geo=US
https://trends.google.com/trends/explore?date=2020-7-01%202020-7-31&geo=US
https://trends.google.com/trends/explore?date=2020-8-01%202020-8-31&geo=US

In [19]:
df

   month                                            keyword
0      8  [ryan newman, iowa caucus results, roberto g贸m...
1      8  [coronavirus tips, covid, covid 19, shelter in...
2      8  [thank you coronavirus helpers, popular google...
3      8  [george floyd, murder hornet, ahmaud arbery, s...
4      8  [juneteenth, marsha p. johnson, bubba wallace,...
5      8  [naya rivera, dilhan eryurt, kelly preston, pa...
6      8  [beirut, vicki draves, covid-19 prevention, be...

In [12]:
df_queries = pd.DataFrame(queries_list)
df_queries

   month                                         label text
0      2  [ryan newman, iowa caucus results, roberto g贸m...
1      3  [coronavirus tips, covid, covid 19, shelter in...
2      4  [thank you coronavirus helpers, popular google...
3      5  [george floyd, murder hornet, ahmaud arbery, s...
4      6  [juneteenth, marsha p. johnson, bubba wallace,...
5      7  [naya rivera, dilhan eryurt, kelly preston, pa...
6      8  [beirut, vicki draves, covid-19 prevention, be...

In [13]:
df_queries.to_csv(path_or_buf = 'queries2020_2.csv')

   month                                         label text
0      1  [coronavirus, kobe bryant, kobe, vanessa bryan...
1      2  [ryan newman, iowa caucus results, roberto g贸m...
2      3  [coronavirus tips, covid, stimulus check, covi...
3      4  [thank you coronavirus helpers, popular google...
4      5  [george floyd, ahmaud arbery, murder hornet, s...
5      6  [juneteenth, marsha p. johnson, bubba wallace,...
6      7  [naya rivera, dilhan eryurt, kelly preston, pa...
7      8  [covid-19 prevention, vicki draves, beirut, be...