In [1]:
# Import libraries
import pandas as pd     
import numpy as np
from pytrends.request import TrendReq

In [2]:
csv = pd.read_csv('webscrape.csv')
df = pd.DataFrame(csv)
df = df.drop(['Unnamed: 0'], axis=1).rename(columns={'label text':'label_text'})
df

      month                                         label_text
0   January  ['coronavirus', 'kobe bryant', 'kobe', 'vaness...
1  February  ['ryan newman', 'iowa caucus results', 'robert...
2     March  ['coronavirus tips', 'covid', 'stimulus check'...
3     April  ['thank you coronavirus helpers', 'popular goo...
4       May  ['george floyd', 'ahmaud arbery', 'murder horn...
5      June  ['juneteenth', 'marsha p. johnson', 'bubba wal...
6      July  ['naya rivera', 'dilhan eryurt', 'kelly presto...
7    August  ['beirut', 'vicki draves', 'covid-19 preventio...

In [26]:
kw_list = ['beirut', 'vicki draves', 'covid-19 prevention', 'beirut explosion today', 'pga championship']

In [27]:
pytrends = TrendReq(hl='en-US', tz=360)
pytrends.build_payload(kw_list, cat=0, timeframe = '2020-08-01 2020-08-31', geo='US', gprop='')

In [28]:
df_query=pytrends.interest_over_time()
df_query=df_query.drop(['isPartial'], axis =1)
df_query

,beirut,vicki draves,covid-19 prevention,beirut explosion today,pga championship
date,,,,,
2020-08-01,0,0,0,0,0
2020-08-02,0,0,0,0,1
2020-08-03,0,90,0,0,2
2020-08-04,73,23,0,20,2
2020-08-05,78,1,100,19,3
2020-08-06,29,0,24,3,17
2020-08-07,12,0,1,0,14
2020-08-08,8,0,0,0,15
2020-08-09,6,0,0,0,19
2020-08-10,4,0,0,0,8
2020-08-11,3,0,0,0,1
2020-08-12,2,0,0,0,0
2020-08-13,1,0,0,0,0
2020-08-14,1,0,0,0,0
2020-08-15,1,0,0,0,0
2020-08-16,1,0,0,0,0
2020-08-17,1,0,0,0,0

In [29]:
averageList = []
for item in kw_list:
    averageList.append(df_query[item].mean())

In [30]:
averageList

[12.941176470588236,
 6.705882352941177,
 7.352941176470588,
 2.4705882352941178,
 4.823529411764706]