In [3]:
# Import libraries
import pandas as pd     
import numpy as np
from pytrends.request import TrendReq

In [62]:
csv = pd.read_csv('webscrape.csv')
df = pd.DataFrame(csv)
df = df.drop(['Unnamed: 0'], axis=1).rename(columns={'label text':'label_text'})
df

      month                                         label_text
0   January  ['coronavirus', 'kobe bryant', 'kobe', 'vaness...
1  February  ['ryan newman', 'iowa caucus results', 'robert...
2     March  ['coronavirus tips', 'covid', 'stimulus check'...
3     April  ['thank you coronavirus helpers', 'popular goo...
4       May  ['george floyd', 'ahmaud arbery', 'murder horn...
5      June  ['juneteenth', 'marsha p. johnson', 'bubba wal...
6      July  ['naya rivera', 'dilhan eryurt', 'kelly presto...
7    August  ['beirut', 'vicki draves', 'covid-19 preventio...

In [18]:
kw_list = ['george floyd', 'ahmaud arbery', 'murder hornet', 'spacex launch', 'derek chauvin']

In [19]:
pytrends = TrendReq(hl='en-US', tz=360)
pytrends.build_payload(kw_list, cat=0, timeframe = '2020-05-01 2020-05-31', geo='US', gprop='')

In [20]:
df_query=pytrends.interest_over_time()
df_query=df_query.drop(['isPartial'], axis =1)
df_query

,george floyd,ahmaud arbery,murder hornet,spacex launch,derek chauvin
date,,,,,
2020-05-01,0,0,0,0,0
2020-05-02,0,0,3,0,0
2020-05-03,0,0,14,0,0
2020-05-04,0,0,20,0,0
2020-05-05,0,2,19,0,0
2020-05-06,0,11,12,0,0
2020-05-07,0,31,8,0,0
2020-05-08,0,23,5,0,0
2020-05-09,0,10,3,0,0
2020-05-10,0,6,3,0,0
2020-05-11,0,5,2,0,0
2020-05-12,0,4,1,0,0
2020-05-13,0,2,1,0,0
2020-05-14,0,2,1,0,0
2020-05-15,0,1,1,0,0
2020-05-16,0,1,1,0,0
2020-05-17,0,1,0,0,0
2020-05-18,0,1,0,0,0
2020-05-19,0,1,1,0,0
2020-05-20,0,1,0,0,0
2020-05-21,0,1,0,0,0
2020-05-22,0,1,0,0,0
2020-05-23,0,0,0,1,0
2020-05-24,0,0,1,1,0
2020-05-25,0,0,1,1,0
2020-05-26,9,1,0,3,1
2020-05-27,63,1,1,44,6
2020-05-28,90,1,0,5,11
2020-05-29,100,1,0,4,25
2020-05-30,97,2,0,57,19
2020-05-31,91,2,1,11,14

In [21]:
averageList = []
for item in kw_list:
    averageList.append(df_query[item].mean())

In [22]:
averageList

[14.516129032258064,
 3.6129032258064515,
 3.193548387096774,
 4.096774193548387,
 2.4516129032258065]